:root {
  --primary-color: #ffffff;
  --secondary-color: #089da1;
  --tertiary-color: #eaeaea;

  --active-color: #cfc80d;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;

  --font-family: "Arial", sans-serif;
  --secondary-font-family: "Times New Roman", serif;

  --header-font-size: 2.5rem;
  --subheader-font-size: 1.5rem;
  --body-font-size: 1rem;

  
}
